

@font-face {
    font-family: 'icomoon';
    src: url(../images/fonts/icomoon.eot?hdd2pb);
    src: url(../images/fonts/icomoon.eot?hdd2pb#iefix) format("embedded-opentype"),url(../images/fonts/icomoon.ttf?hdd2pb) format("truetype"),url(../images/fonts/icomoon.woff?hdd2pb) format("woff"),url(../images/fonts/icomoon.svg?hdd2pb#icomoon) format("svg");
    font-weight: 400;
    font-style: normal;
}

[class^="bd-"],[class*=" bd-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bd-ucash:before {
    content: "\e900";
}

.bd-teletalk:before {
    content: "\e901";
}

.bd-robi:before {
    content: "\e902";
}

.bd-mcash:before {
    content: "\e903";
}

.bd-dbbl:before {
    content: "\e904";
}

.bd-bkash:before {
    content: "\e905";
}

.bd-airtel:before {
    content: "\e906";
}

.bd-grameenphone:before {
    content: "\e95b";
}

.bd-banglalink:before {
    content: "\e96c";
}

.bd-mobile:before {
    content: "\e977";
}