

.alert-animated {
    padding: 5px;
    border: 1px solid #f1f5fc;
    font-size: 12px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    color: #4276A4;
}
.alert-inner {
    border: 1px solid #f1f5fc;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-color: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.alert-message {
    position: relative;
    text-shadow: 0 1px #fff;
    animation: text-moving 20s infinite;
    -webkit-animation: text-moving 20s infinite;
    -moz-animation: text-moving 20s infinite;
    -ms-animation: text-moving 20s infinite;
    -o-animation: text-moving 20s infinite;
}

.navbar-brand {
    color: #ffffff;
}

.navbar-brand:hover, .navbar-brand:focus {
    color: #ffffff;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
    font-weight: 400;
}

.page-sidebar .page-sidebar-menu .sub-menu li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > a {
    font-weight: 400;
}
