

[class^="m-icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 3px;
    line-height: 14px;
    vertical-align: top;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.m-icon-swapright {
    background-position: -27px -10px;
    background-image: url(../images/syncfusion-icons-white.png);
}

.m-icon-swapleft {
    background-position: -8px -10px;
    background-position-x: -8px;
    background-position-y: -10px;
    background-image: url(../images/syncfusion-icons.png);
}

.forget-form {
    display: none;
}

.forget-password h4 {
    margin-top: 50px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 17px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.forget-form h3 {
    font-size: 23px;
    color: #ff6600;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
}

.forget-form p {
    margin-top: 15px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
}

.input-icon {
    position: relative;
}

.input-icon > .form-control {
    padding-left: 33px;
}

.input-icon > .form-control {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.input-icon > i {
    color: #ccc;
    display: block;
    position: absolute;
    margin: 16px 2px 4px 10px;
    z-index: 3;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
}