

html,
button,
input,
select,
textarea {
    color: #222;
}

*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #999999;
    line-height: 1;
    font-weight: 400;
}

.btn.bg-orng {
    background-color: #ff7f3f;
}

.btn.bg-white {
    background-color: #fff;
}

.slogan-section .custom-btn:hover {
    background-color: #F2EBEB;
}

.slogan-section .custom-btn:focus,
.slogan-section .custom-btn:active {
    background-color: #d3d3d3;
}

.regular-title {
    font-weight: 500;
    font-size: 14px;
}

.custom-btn {
    border-radius: 2px;
    padding: 11px 15px;
    min-width: 90px;
    box-shadow: none;
}

.checkbox-wrap {}

/*css reset*/

/*header */
.header-top {
    background-color: #ffffff;
}

.header-bottom {
    background-color: #ff6600;
    padding: 13px 0;
}

.header-bottom p {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 1.1;
}

#webTicker {}

#webTicker li {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 1.1;
    display: inline-block;
}

.tickercontainer {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tickercontainer .mask {
    position: relative;
    top: 6px;
    overflow: hidden;
}

ul.newsticker {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.newsticker li {
    float: left;
    margin: 0;
    padding-right: 15px;
}

.social-icons li {
    float: left;
    margin-left: 5px;
}

.social-icons li:first-child {
    margin-left: 0;
}

.round-icon {
    width: 34px;
    height: 34px;
    line-height: 34px;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid transparent;
    -webkit-transition: all, .3s;
    -moz-transition: all, .3s;
    -o-transition: all, .3s;
    -ms-transition: all, .3s;
    transition: all, .3s;
}

.round-icon:focus,
.round-icon:active {
    outline: none;
}

.social-icons .round-icon {
    background-color: #ff6600;
    font-size: 13px;
}

.social-icons .round-icon:hover {
    color: #ff6600;
    background-color: #fff;
    border-color: #ff6600;
}

.social-icons {
    margin-top: 7px;
}

.header-inner {
    padding: 20px 0;
}

/*slogan sec*/
.slogan-section {
    max-width: 500px;
}

.sl-title {
    padding: 10px 0;
    padding-left: 15px;
    margin-bottom: 10px;
    border-left: 3px solid #ff6600;
}

.sl-title.title {
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 30px;
    font-weight: 300;
    line-height: 1.49;
    color: #fff;
}

.sl-title.title span {
    font-weight: 500;
}

.sl-title.subtitle {
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: #555555;
}

.slogan-section .custom-btn {
    box-shadow: 0px 4px 0 0 #d3d3d3;
    color: #333333;
}

/*bg slider */
.bg-slider {
    position: relative;
}

#bgSliderWrap img {
    min-height: 580px;
}

.bg-slider-content-wrap {
    width: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
}

.bg-slider-inner .owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0;
}

.bg-slider-inner .owl-pagination {
    float: right;
    margin-right: 7.5%;
    padding: 10px 0;
}

.bg-slider-inner .owl-theme .owl-controls .owl-page span {
    background-color: #fff;
    opacity: 1;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    margin: 5px 3px;
}

.bg-slider-inner .owl-theme .owl-controls .owl-page.active span {
    background-color: #ff6600;
    opacity: 1; 
}

.bg-slider-inner {}
.bg-slider-inner {}

.bg-slider-content-wrap-inner {
    padding-top: 20px;
}

.checkbox-wrap {
    margin: 20px 0;
}

.checkbox-wrap input[type="checkbox"] {
    margin: 0;
    margin-left: -20px;
}

.checkbox-wrap label {
    font-style: italic;
    font-size: 14px;
}

.login-form-inner .custom-btn {
    box-shadow: 0px 4px 0 0 #ff6600;
    color: #fff;
    padding: 8px 15px;
}

.login-form-inner .custom-btn:hover {
    background-color: #FF7D3D;
}

.login-form-inner .custom-btn:active,
.login-form-inner .custom-btn:focus {
    outline: none;
    background-color: #ff6600;
}

/*login form*/
.login-form-inner {
    background: #fff;
    border-top: 3px solid #ff6600;
}

.form-wrap,
.note-sec {
    padding: 20px;
}

.form-wrap {
    border-bottom: 1px solid #eee;
}

.login-form-inner .title {
    color: #ff6600;
    margin-bottom: 20px;
}

.login-form-inner .form-control {
    background-color: #f9f9f9;
    border: 1px solid #e7e7e7;
    box-shadow: none;
    margin-bottom: 10px;
    font-size: 16px;
    height:50px;
    line-height:33px;
    border-radius:3px;
}

.login-form-inner #username {
    padding:1px 5px 1px 45px;
    background:url(../images/user.png) left center no-repeat #f5f5f5;
}

.login-form-inner #password {
    padding:1px 5px 1px 45px;
    background:url(../images/password.png) left center no-repeat #f5f5f5;
}

.note-sec {}

.note-sec ul {}

.note-sec ul li {
    font-size: 13px;
    line-height: 22px;
    position: relative;
    padding-left: 15px;
    margin-bottom: 5px;
}

.note-sec ul li:before {
    content: "\f111";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    position: absolute;
    left: 0;
    top: 7px;
    color: #ff6600;
    font-size: 9px;
}

.bottom-slider-form {
    display: none;
}

/*brand slider */
.brand-slider {
    background: #f4f4f4;
    padding: 50px 0;
}

.brand-slider-inner {
    position: relative;
}

.brand-sl-wrap {}

.brand-sl-wrap .bsl-item-wrap {
    float: left;
    padding: 0 5px;
}

.brand-slider-inner .round-icon {
    display: inline-block;
    background-color: #fff;
    color: #ff5500;
    font-size: 10px;
    border-color: #eeeeee;
}

.brand-slider-inner .round-icon:hover {
    background-color: #ff6600 !important;
    color: #fff !important;
}

.brand-slider-inner .slider-cntrl {
    position: absolute;
    left: 0;
    top: 31%;
    width: 100%;
    z-index: 1;
}

.scntrl-inner {
    position: relative;
}

.brand-slider-inner .bs-ctrl {
    position: absolute;
}

.brand-slider-inner .bs-left {
    top:0;
    left: -63px;
}

.brand-slider-inner .bs-right {
    top: 0;
    right: -63px;
}

/*feature section */
.single-feature {
    text-align: left;
}

.feature-sidebar {
    padding-top: 70px;
    padding-bottom: 32px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.featwrap {
    margin-bottom: 38px;
}

.feature-sidebar .sl-title.title {
    background-color: transparent;
    font-size: 30px;
    color: #444444;
    line-height: 1.35;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 55px;
}

.feature-sidebar .sl-title.title span {
    color: #ff7f3f;
}

.feat-head span {
    color: #fff;
    font-size: 30px;
    width: 70px;
    height: 70px;
    background: #ff5500;
    display: inline-block;
    text-align: center;
    line-height: 70px;
    border-radius: 50%;
}

.feat-head {
    margin-bottom: 20px;
}

.feat-title {
    color: #505050;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 5px;
}

.feat-body {}

.feat-body ul {}

.feat-body ul li {
    font-size: 13px;
    color: #989797;
    line-height: 24px;
}

/*sidebar*/
.news-widget {
    border: 1px solid #eeeeee;
}

.widget-header {
    padding: 20px;
    padding-right: 10px;
    border-bottom: 3px solid #ff6600;
}

.widget-header .round-icon {
    background-color: #f9f9f9;
    border: 1px solid #e8e8e8;
    color: #ff5500;
}

.widget-content {

}

.pull-left.title {
    line-height: 34px;
}

.widget-content ul li {
    color: #999999;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    padding: 20px;
    border-bottom: 1px solid #eeeeee;
}

.widget-content ul li:last-child {
    border-bottom: none;
}

/*footer*/
.main-footer {
    background: #f9f9f9;
    padding: 21px 0;
}

.copy-right p {
    color: #bbbbbb;
    font-size: 12px;
    line-height: 1.5;
}

.mr0 {
    margin-right: 0!important;
}

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}