

/***** Page Header ******/
/* Header search bar, toggler button & top menu */
.page-header.navbar {
    background-color: #2d5f8b;
    /* Top notification menu/bar */
    /* Header seaech box */
    /* Toggler button for sidebar expand/collapse and responsive sidebar menu */
}

.page-header.navbar .top-menu .navbar-nav {
    /* Extended Dropdowns */
    /* Notification */
    /* Inbox */
    /* Tasks */
    /* User */
    /* Language */
    /* Dark version */
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > i {
    color: #6ba1d1;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle .badge.badge-default {
    background-color: #d64635;
    color: #fff;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover {
    background-color: #3979b2;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover > i {
    color: #a5c6e3;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle {
    background-color: #3979b2;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle > i {
    color: #a5c6e3;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu {
    border-color: #e7eaf0;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu:after {
    border-bottom-color: #eaedf2;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external {
    background: #eaedf2;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > h3 {
    color: #62878f;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a {
    color: #5b9bd1;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a:hover {
    color: #3175af;
    text-decoration: none;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {
    border-bottom: 1px solid #eff2f6 !important;
    color: #888;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a:hover {
    background: #f8f9fa;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a .time {
    background: #f1f1f1;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a:hover .time {
    background: #e4e4e4;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-toggle > .circle {
    background-color: #d64635;
    color: #fff;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-toggle > .corner {
    border-color: transparent transparent transparent #d64635;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox .dropdown-menu .dropdown-menu-list .subject .from {
    color: #5b9bd1;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-tasks .dropdown-menu .dropdown-menu-list .progress {
    background-color: #dfe2e9;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
    color: #b6d0e7;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > i {
    color: #b6d0e7;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-menu {
    width: 195px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-language > .dropdown-toggle > .langname {
    color: #b6d0e7;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu {
    background: #3979b2;
    border: 0;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu:after {
    border-bottom-color: #3979b2;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external {
    background: #2f6493;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external > h3 {
    color: #d1e2f0;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external > a:hover {
    color: #87b6dd;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a,.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a {
    color: #e4eef6;
    border-bottom: 1px solid #4689c3 !important;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a > i,.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a > i {
    color: #bed5ea;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a:hover,.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a:hover {
    background: #3f84c1;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a {
    border-bottom: 0 !important;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li.divider {
    background: #4689c3;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-notification.dropdown-dark .dropdown-menu .dropdown-menu-list > li > a .time {
    background: #336c9e;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-notification.dropdown-dark .dropdown-menu .dropdown-menu-list > li > a:hover .time {
    background: #2d5f8b;
}

.page-header.navbar .search-form {
    background: #28547c;
}

.page-header.navbar .search-form:hover {
    background: #3979b2;
}

.page-header.navbar .search-form .input-group .form-control {
    color: #83aac8;
}

.page-header.navbar .search-form .input-group .form-control:-moz-placeholder {
    color: #7fa8c6;
    opacity: 1;
}

.page-header.navbar .search-form .input-group .form-control:-ms-input-placeholder {
    color: #7fa8c6;
}

.page-header.navbar .search-form .input-group .form-control:-webkit-input-placeholder {
    color: #7fa8c6;
}

.page-header.navbar .search-form .input-group .input-group-btn .btn.submit > i {
    color: #83aac8;
}

.page-header.navbar .search-form.open {
    background: #3979b2;
}

.page-header.navbar .menu-toggler {
    background-image: url(../images/sidebar_toggler_icon_blue.png);
}

/* Default Horizontal Menu */
.page-header.navbar {
    /* Default Mega Menu */
    /* Light Mega Menu */
}

.page-header.navbar .hor-menu .navbar-nav {
    /* Mega menu content */
    /* Classic menu */
}

.page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu {
    box-shadow: 5px 5px rgba(57,121,178,0.2);
}

.page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > h3 {
    color: #b6d0e7;
}

.page-header.navbar .hor-menu .navbar-nav > li > a {
    color: #b6d0e7;
}

.page-header.navbar .hor-menu .navbar-nav > li > a > i {
    color: #90b8db;
}

.page-header.navbar .hor-menu .navbar-nav > li.open > a,.page-header.navbar .hor-menu .navbar-nav > li > a:hover {
    color: #c9ddee;
    background: #3979b2 !important;
}

.page-header.navbar .hor-menu .navbar-nav > li.open > a > i,.page-header.navbar .hor-menu .navbar-nav > li > a:hover > i {
    color: #a3c4e1;
}

.page-header.navbar .hor-menu .navbar-nav > li.active > a,.page-header.navbar .hor-menu .navbar-nav > li.active > a,.page-header.navbar .hor-menu .navbar-nav > li.current > a,.page-header.navbar .hor-menu .navbar-nav > li.current > a {
    color: #fff;
    background: #d64635 !important;
}

.page-header.navbar .hor-menu .navbar-nav > li.active > a > i,.page-header.navbar .hor-menu .navbar-nav > li.active > a > i,.page-header.navbar .hor-menu .navbar-nav > li.current > a > i,.page-header.navbar .hor-menu .navbar-nav > li.current > a > i {
    color: #90b8db;
}

.page-header.navbar .hor-menu .navbar-nav > li.active .selected,.page-header.navbar .hor-menu .navbar-nav > li.current .selected {
    border-top: 6px solid #d64635;
}

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu {
    box-shadow: 5px 5px rgba(57,121,178,0.2);
    background: #3979b2;
}

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a {
    color: #b6d0e7;
}

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a > i {
    color: #b6d0e7;
}

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li:hover > a {
    color: #ecf3f9;
    background: #3f84c1;
}

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li:hover > a > i {
    color: #ecf3f9;
}

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.active > a,.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.active > a:hover,.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.current > a,.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.current > a:hover {
    color: #ecf3f9;
    background: #3f84c1;
}

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.active > a > i,.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.active > a:hover > i,.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.current > a > i,.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.current > a:hover > i {
    color: #ecf3f9;
}

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.divider {
    background-color: #4386c2;
}

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-submenu > a:after {
    color: #b6d0e7;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav {
    /* Mega menu content */
    /* Classic menu */
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.mega-menu-dropdown > .dropdown-menu {
    box-shadow: 5px 5px rgba(102,102,102,0.1);
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > h3 {
    color: #666;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li > a {
    color: #b6d0e7;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li > a > i {
    color: #90b8db;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li > a:hover {
    color: #c9ddee;
    background: #3979b2;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li > a:hover > i {
    color: #a3c4e1;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.open > a {
    color: #333 !important;
    background: #fff !important;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.open > a > i {
    color: #333 !important;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a,.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a:hover,.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a,.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a:hover {
    color: #fff;
    background: #d64635;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a > i,.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a:hover > i,.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a > i,.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a:hover > i {
    color: #90b8db;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu {
    box-shadow: 5px 5px rgba(102,102,102,0.1);
    background: #fff;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li > a {
    color: #000;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li > a > i {
    color: #888;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li:hover > a {
    color: #000;
    background: #f2f2f7;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li:hover > a > i {
    color: #666;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.active > a,.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.active > a:hover,.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.current > a,.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.current > a:hover {
    color: #000;
    background: #f2f2f7;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.active > a > i,.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.active > a:hover > i,.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.current > a > i,.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.current > a:hover > i {
    color: #666;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.divider {
    background-color: #f2f2f7;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu {
    border: 1px solid #efeff5;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li > .dropdown-menu {
    border-top: 0;
}

/* Page sidebar */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover,.page-sidebar {
    background-color: #4276a4;
    /* Default sidebar */
    /* light sidebar */
    /* Sidebar search */
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu,.page-sidebar .page-sidebar-menu {
    /* 1st level links */
    /* All links */
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a,.page-sidebar .page-sidebar-menu > li > a {
    border-top: 1px solid #4a83b6;
    color: #c9dff5;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i,.page-sidebar .page-sidebar-menu > li > a > i {
    color: #8eb8de;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class^="icon-"],.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class*="icon-"],.page-sidebar .page-sidebar-menu > li > a > i[class^="icon-"],.page-sidebar .page-sidebar-menu > li > a > i[class*="icon-"] {
    color: #a2c4e4;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow.open:before,.page-sidebar .page-sidebar-menu > li > a > .arrow:before,.page-sidebar .page-sidebar-menu > li > a > .arrow.open:before {
    color: #8eb8de;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.heading > h3,.page-sidebar .page-sidebar-menu > li.heading > h3 {
    color: #66a4e3;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a,.page-sidebar .page-sidebar-menu > li:hover > a,.page-sidebar .page-sidebar-menu > li.open > a {
    background: #497fae;
    color: #c9dff5;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > i,.page-sidebar .page-sidebar-menu > li:hover > a > i,.page-sidebar .page-sidebar-menu > li.open > a > i {
    color: #d2e6f9;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow.open:before,.page-sidebar .page-sidebar-menu > li:hover > a > .arrow:before,.page-sidebar .page-sidebar-menu > li:hover > a > .arrow.open:before,.page-sidebar .page-sidebar-menu > li.open > a > .arrow:before,.page-sidebar .page-sidebar-menu > li.open > a > .arrow.open:before {
    color: #d2e6f9;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a,.page-sidebar .page-sidebar-menu > li.active > a,.page-sidebar .page-sidebar-menu > li.active.open > a {
    background: #d64635;
    border-top-color: transparent;
    color: #fff;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover,.page-sidebar .page-sidebar-menu > li.active > a:hover,.page-sidebar .page-sidebar-menu > li.active.open > a:hover {
    background: #d64635;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > i,.page-sidebar .page-sidebar-menu > li.active > a > i,.page-sidebar .page-sidebar-menu > li.active.open > a > i {
    color: #fff;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .arrow.open:before,.page-sidebar .page-sidebar-menu > li.active > a > .arrow:before,.page-sidebar .page-sidebar-menu > li.active > a > .arrow.open:before,.page-sidebar .page-sidebar-menu > li.active.open > a > .arrow:before,.page-sidebar .page-sidebar-menu > li.active.open > a > .arrow.open:before {
    color: #fff;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active + li > a,.page-sidebar .page-sidebar-menu > li.active + li > a {
    border-top-color: transparent;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open + li > a,.page-sidebar .page-sidebar-menu > li.active.open + li > a {
    border-top-color: #4a83b6;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:last-child > a,.page-sidebar .page-sidebar-menu > li:last-child > a {
    border-bottom: 1px solid transparent !important;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow.open:before,.page-sidebar .page-sidebar-menu li > a > .arrow:before,.page-sidebar .page-sidebar-menu li > a > .arrow.open:before {
    color: #8eb8de;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow.open:before,.page-sidebar .page-sidebar-menu li:hover > a > .arrow:before,.page-sidebar .page-sidebar-menu li:hover > a > .arrow.open:before {
    color: #d2e6f9;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > a > .arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > a > .arrow.open:before,.page-sidebar .page-sidebar-menu li.active > a > .arrow:before,.page-sidebar .page-sidebar-menu li.active > a > .arrow.open:before {
    color: #fff;
}

.page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu:hover .sub-menu,.page-sidebar-closed
.page-sidebar .page-sidebar-menu:hover .sub-menu {
    background-color: #4276a4;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a,.page-sidebar .page-sidebar-menu .sub-menu > li > a {
    color: #c9dff5;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i,.page-sidebar .page-sidebar-menu .sub-menu > li > a > i {
    color: #8eb8de;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i[class^="icon-"],.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i[class*="icon-"],.page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class^="icon-"],.page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class*="icon-"] {
    color: #a2c4e4;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > .arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > .arrow.open:before,.page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow:before,.page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow.open:before {
    color: #8eb8de;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a,.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a,.page-sidebar .page-sidebar-menu .sub-menu > li.open > a,.page-sidebar .page-sidebar-menu .sub-menu > li.active > a {
    background: #397fae !important;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > i,.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > i,.page-sidebar .page-sidebar-menu .sub-menu > li.open > a > i,.page-sidebar .page-sidebar-menu .sub-menu > li.active > a > i {
    color: #d2e6f9;
    color: #ddeaf5;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before,.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before,.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before,.page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow:before,.page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before,.page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow:before,.page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before {
    color: #d2e6f9;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light {
    /* 1st level links */
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li:hover > a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.open > a,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li:hover > a,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.open > a {
    background: #3c6c95;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active > a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a {
    background: #38648b;
    border-left: 4px solid #d64635;
    color: #f1f1f1;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active > a:hover,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a:hover,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a:hover,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a:hover {
    border-left: 4px solid #d64635;
    background: #3c6c95;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active > a > i,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a > i,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a > i,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a > i {
    color: #eee;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active > a > .arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active > a > .arrow.open:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a > .arrow:before,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a > .arrow.open:before,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a > .arrow:before,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a > .arrow.open:before,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a > .arrow:before,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a > .arrow.open:before {
    color: #eee;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu {
    background: #467eaf;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li:hover > a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li.open > a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li.active > a,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li:hover > a,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li.open > a,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li.active > a {
    background: #3c6c95 !important;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler,.page-sidebar .sidebar-toggler {
    background: url(../images/sidebar_inline_toggler_icon_blue.png);
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group,.page-sidebar .sidebar-search .input-group {
    border-bottom: 1px solid #548bba;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control,.page-sidebar .sidebar-search .input-group .form-control {
    background-color: #4276a4;
    color: #6e9cc5;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control::-moz-placeholder,.page-sidebar .sidebar-search .input-group .form-control::-moz-placeholder {
    color: #6e9cc5;
    opacity: 1;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control:-ms-input-placeholder,.page-sidebar .sidebar-search .input-group .form-control:-ms-input-placeholder {
    color: #6e9cc5;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control::-webkit-input-placeholder,.page-sidebar .sidebar-search .input-group .form-control::-webkit-input-placeholder {
    color: #6e9cc5;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .input-group-btn .btn > i,.page-sidebar .sidebar-search .input-group .input-group-btn .btn > i {
    color: #6e9cc5;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-bordered .input-group,.page-sidebar .sidebar-search.sidebar-search-bordered .input-group {
    border: 1px solid #548bba;
}

.page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.open .input-group,.page-sidebar-closed
.page-sidebar .sidebar-search.open .input-group {
    background-color: #4276a4;
}

.page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.open .remove > i,.page-sidebar-closed
.page-sidebar .sidebar-search.open .remove > i {
    color: #6e9cc5;
}

.page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-solid .input-group,.page-sidebar-closed
.page-sidebar .sidebar-search.sidebar-search-solid .input-group {
    background: none;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-solid .input-group,.page-sidebar .sidebar-search.sidebar-search-solid .input-group {
    border: 1px solid #3b6992;
    background: #3b6992;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-solid .input-group .form-control,.page-sidebar .sidebar-search.sidebar-search-solid .input-group .form-control {
    background: #3b6992;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-solid.open .input-group,.page-sidebar .sidebar-search.sidebar-search-solid.open .input-group {
    border: 1px solid #4276a4;
    background: #4276a4;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-solid.open .input-group .form-control,.page-sidebar .sidebar-search.sidebar-search-solid.open .input-group .form-control {
    background: #4276a4;
}

.page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light {
    /* 1st level links */
}

.page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light > li.active > a,.page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a {
    border-left: 0;
    border-right: 4px solid #d64635;
}

.page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light > li.active > a:hover,.page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a:hover {
    border-left: 0;
    border-right: 4px solid #d64635;
}

/************ Quick Sidebar ************/
/*** Quick Sidebar Layout ***/
.page-quick-sidebar-wrapper {
    background: #3c7fb9;
}

.page-quick-sidebar-wrapper .page-quick-sidebar {
    background: #3c7fb9;
}

/*** Quick Sidebar Toggler ***/
.page-quick-sidebar-toggler {
    background: #5d98cb;
}

.page-quick-sidebar-toggler:hover {
    background: #5290c7;
}

.page-quick-sidebar-toggler > i {
    color: #deeefc;
}

/*** Quick Sidebar Content ***/
.page-quick-sidebar-wrapper {
    color: #deeefc;
    /* Quick sidebar chat */
    /* Quick sidebar alerts */
}

.page-quick-sidebar-wrapper .page-quick-sidebar {
    /* Quick sidebar tabs */
    /* Quick sidebar general list heading */
    /* Quick sidebar general list-items */
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li > a {
    color: #d0e7fa;
    background: #5d98cb;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li > a:hover {
    background: #4a8bc4;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li.open > a {
    color: #d0e7fa;
    background: #5d98cb;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li.active > a {
    border: 0;
    background: #3c7fb9;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li .dropdown-menu {
    border: 0;
    background: #5d98cb;
    box-shadow: 5px 5px rgba(171,201,228,0.1);
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li .dropdown-menu:before {
    border-bottom: 7px solid #5d98cb;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li .dropdown-menu:after {
    border-bottom: 7px solid #5d98cb;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li .dropdown-menu > li > a {
    color: #deeefc;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li .dropdown-menu > li > a > i {
    color: #d5e9fb;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li .dropdown-menu > li > a:hover {
    background: #699fce;
    color: #deeefc;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li .dropdown-menu > li > a:hover > i {
    color: #e3f0fc;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li .dropdown-menu > li.active > a {
    background: #619acc;
    color: #deeefc;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified > li .dropdown-menu > li.divider {
    background-color: #699fce;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .list-heading {
    color: #99caf5;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .list-items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .list-items > li {
    border-bottom-color: #4386c2;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .list-items > li:hover {
    background: #4386c2;
}

.page-quick-sidebar-wrapper .page-quick-sidebar-item {
    /* back to list */
}

.page-quick-sidebar-wrapper .page-quick-sidebar-item .page-quick-sidebar-nav .page-quick-sidebar-back-to-list {
    color: #d0e7fa;
}

.page-quick-sidebar-wrapper .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media .media-body .media-heading-sub {
    color: #8bc3f3;
}

.page-quick-sidebar-wrapper .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media .media-body .media-heading-small {
    color: #78b9f1;
}

.page-quick-sidebar-wrapper .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post .name {
    color: #beddf8;
}

.page-quick-sidebar-wrapper .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post .datetime {
    color: #beddf8;
}

.page-quick-sidebar-wrapper .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post .message {
    color: #d0e7fa;
    background: #5d98cb;
}

.page-quick-sidebar-wrapper .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post.in .message .arrow {
    border-right-color: #5d98cb;
}

.page-quick-sidebar-wrapper .page-quick-sidebar-chat .page-quick-sidebar-chat-user .page-quick-sidebar-chat-user-messages .post.out .message .arrow {
    border-left-color: #5d98cb;
}

.page-quick-sidebar-wrapper .page-quick-sidebar-alerts .page-quick-sidebar-alerts-list .feeds li a {
    color: #b5d8f7;
}

.page-quick-sidebar-wrapper .page-quick-sidebar-alerts .page-quick-sidebar-alerts-list .feeds li a .desc {
    text-decoration: underline;
}

.page-quick-sidebar-wrapper .page-quick-sidebar-alerts .page-quick-sidebar-alerts-list .feeds li .desc {
    color: #abd4f7;
}

.page-quick-sidebar-wrapper .page-quick-sidebar-alerts .page-quick-sidebar-alerts-list .feeds li .date {
    color: #78b9f1;
}

/****** Page Footer ******/
.page-footer .page-footer-inner {
    color: #c9dae9;
}

.page-footer-fixed .page-footer {
    background-color: #38648b;
}

@media (min-width: 992px) {
    /* 992px */
    /* Sidebar menu closed */
    .page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu {
        box-shadow: 5px 5px rgba(73,127,174,0.2);
    }

    .page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu.sidebar-toggler-wrapper,.page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu.sidebar-search-wrapper {
        box-shadow: none;
    }

    .page-sidebar-menu.page-sidebar-menu-closed > li:hover {
        box-shadow: 5px 5px rgba(73,127,174,0.2);
    }

    .page-sidebar-menu.page-sidebar-menu-closed > li:hover.sidebar-toggler-wrapper,.page-sidebar-menu.page-sidebar-menu-closed > li:hover.sidebar-search-wrapper {
        box-shadow: none;
    }

    .page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu {
        box-shadow: 5px 5px rgba(73,127,174,0.2);
    }

    .page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu.sidebar-toggler-wrapper,.page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu.sidebar-search-wrapper {
        box-shadow: none;
    }

    /* Light sidebar menu */
    .page-sidebar-menu.page-sidebar-menu-light.page-sidebar-menu-closed > li.heading {
        padding: 0;
        margin-top: 15px;
        margin-bottom: 15px;
        border-top: 1px solid #4a83b6 !important;
    }

    /* Fixed Sidebar */
    .page-sidebar-fixed:not(.page-footer-fixed) .page-content {
        border-bottom: 0;
    }

    .page-sidebar-fixed:not(.page-footer-fixed) .page-footer {
        background-color: #fff;
    }

    .page-sidebar-fixed:not(.page-footer-fixed) .page-footer .page-footer-inner {
        color: #333;
    }

    /* Boxed Layout */
    .page-boxed {
        background-color: #3e6e99 !important;
        /* Page container */
        /* Page sidebar */
        /* Page footer */
    }

    .page-boxed .page-container {
        background-color: #4276a4;
        border-left: 1px solid #4a83b6;
        border-bottom: 1px solid #4a83b6;
    }

    .page-boxed.page-sidebar-reversed .page-container {
        border-left: 0;
        border-right: 1px solid #4a83b6;
    }

    .page-boxed.page-sidebar-fixed .page-container {
        border-left: 0;
        border-bottom: 0;
    }

    .page-boxed.page-sidebar-reversed.page-sidebar-fixed .page-container {
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
    }

    .page-boxed.page-sidebar-fixed .page-sidebar {
        border-left: 1px solid #4a83b6;
    }

    .page-boxed.page-sidebar-reversed.page-sidebar-fixed .page-sidebar {
        border-right: 1px solid #4a83b6;
        border-left: 0;
    }

    .page-boxed.page-sidebar-fixed.page-footer-fixed .page-footer {
        background-color: #3e6e99 !important;
    }

    .page-boxed.page-sidebar-fixed.page-footer-fixed .page-footer .page-footer-inner {
        color: #c9dae9;
    }

    /* Sidebar Menu Wirh Hoverable Submenu */
    .page-sidebar-menu-hover-submenu li:hover a > .arrow {
        border-right: 8px solid #3d6a91;
    }

    .page-sidebar-reversed .page-sidebar-menu-hover-submenu li:hover a > .arrow {
        border-left: 8px solid #3d6a91;
    }

    .page-sidebar-menu-hover-submenu li:hover > .sub-menu {
        background: #3d6a91 !important;
    }
}

@media (max-width: 991px) {
    /* 991px */
    /* Page sidebar */
    .page-sidebar {
        background-color: #305778;
        /* light sidebar */
    }

    .page-sidebar .page-sidebar-menu > li > a {
        border-top: 1px solid #4276a4;
    }

    .page-sidebar .page-sidebar-menu > li:hover > a,.page-sidebar .page-sidebar-menu > li.open > a {
        background: #366187;
    }

    .page-sidebar .page-sidebar-menu > li:last-child > a {
        border-bottom: 0 !important;
    }

    .page-sidebar .page-sidebar-menu > li .sub-menu {
        background-color: #305778 !important;
    }

    .page-sidebar .page-sidebar-menu .sidebar-search input {
        background-color: #305778 !important;
    }

    .page-sidebar .page-sidebar-menu.page-sidebar-menu-light {
        /* 1st level links */
    }

    .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li:hover > a,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.open > a {
        background: #355e83;
    }

    .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a {
        background: #355e83;
    }

    .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a:hover,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a:hover {
        background: #355e83;
    }

    .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu {
        background: #305778 !important;
    }

    .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li:hover > a,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li.open > a,.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li.active > a {
        background: #355e83 !important;
    }
}

@media (max-width: 480px) {
    /* 480px */
    .page-header.navbar {
        /* Top menu */
    }

    .page-header.navbar .top-menu {
        background-color: #4276a4;
    }

    .page-header-fixed-mobile .page-header.navbar .top-menu {
        background-color: #2d5f8b;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
        background-color: #3b7cb5;
    }

    .page-header-fixed-mobile .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
        background: none;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle:hover {
        background-color: #3979b2;
    }
}

/**** Boby ****/
body {
    background-color: #4276a4;
}

/**** CSS3 Spinner Bar ****/
.page-spinner-bar > div,.block-spinner-bar > div {
    background: #da594a;
}

.page-header.navbar .menu-toggler {
    background-image: url(../images/sys-toogle.png);
}

.page-header.navbar .menu-toggler {
    filter: alpha(opacity=90);
    width: 50px;
    height: 50px;
}